/* Color Theme Swatches in Hex */
/*.background { color: #8C184E; }
.principal { color: #011126; }
.Paulo-Mendez-para-Elisa-3-hex { color: #081E26; }
.Paulo-Mendez-para-Elisa-4-hex { color: #99B4BF; }
.destaque { color: #BAD0D9; }
*/


html{
    background:#8C184E;
    color:#011126;

    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

p {
    text-indent: 1em;
}

h1, h2, h3 {
    text-align: center;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary {text-align: right;}
.main p {line-height: 1.5;}

abbr {font-variant: small-caps;}


