/* Color Theme Swatches in Hex */
/*.background { color: #8C184E; }
.principal { color: #011126; }
.Paulo-Mendez-para-Elisa-3-hex { color: #081E26; }
.Paulo-Mendez-para-Elisa-4-hex { color: #99B4BF; }
.destaque { color: #BAD0D9; }
*/


html{
    background:#8C184E;
    color:#011126;
}


